
# Desc: Example Player configuration file providing a camera interface
# Author:  Rich Mattes
# Date: 12 December 2012

# load the Stage plugin simulation driver
driver
(		
  name "stage"
  provides [ "simulation:0" ]
  plugin "stageplugin"

  # load the named file into the simulator
  worldfile "camera.world"	
)

# Create a Stage driver and attach position2d and camera interfaces 
# to the model "r0"
driver
( 
  name "stage"
  provides [ "position2d:0" "ranger:0" "ranger:1" "camera:0"]
  model "r0" 
)

