
# Desc: Player sample configuration file for controlling Stage devices
# Date: 18 Apr 2003
# CVS: $Id: everything.cfg,v 1.34 2007-03-26 19:54:36 gerkey Exp $


driver
(		
  name "stage"
  provides ["simulation:0"]
  plugin "stageplugin"
  worldfile "everything.world"	
)

# robot 0
driver( 
 name "stage"
 provides [ "position2d:0" "sonar:0" "laser:0" "blobfinder:0" "fiducial:0" "gripper:0" ] 
 model "robot1" 
)

driver( name "vfh" requires [ "position2d:0" "laser:0" ] provides [ "position2d:1" ] )



# robot 1
driver( 
 name "stage"  
 provides ["6666:position2d:0" "6666:sonar:0" "6666:laser:0" "6666:blobfinder:0" "6666:fiducial:0"] 
 model "p1" 
)

# robot 2
driver( 
 name "stage"  
 provides ["6667:position2d:0" "6667:sonar:0" "6667:laser:0" "6667:blobfinder:0" "6667:fiducial:0"] 
 model "p2" 
)

# robot 3
driver( 
 name "stage"  
 provides ["6668:position2d:0" "6668:sonar:0" "6668:laser:0" "6668:blobfinder:0" "6668:fiducial:0"] 
 model "p3" 
)

# robot 4
driver( 
 name "stage"  
 provides ["6669:position2d:0" "6669:sonar:0" "6669:laser:0" "6669:blobfinder:0" "6669:fiducial:0"] 
 model "p4" 
)

# robot 5
driver( 
 name "stage"  
 provides ["6670:position2d:0" "6670:sonar:0" "6670:laser:0" "6670:blobfinder:0" "6670:fiducial:0"] 
 model "p5" 
)

# robot 6
driver( 
 name "stage"  
 provides ["6671:position2d:0" "6671:sonar:0" "6671:laser:0" "6671:blobfinder:0" "6671:fiducial:0"] 
 model "p6" 
)
