
# Desc: Player sample configuration file for controlling Stage devices
# Author:  Richard Vaughan
# Date: 1 December 2004
# CVS: $Id: nd.cfg,v 1.1 2007-04-30 19:51:42 gerkey Exp $


# load the Stage plugin simulation driver
driver
(		
  name "stage"
  provides ["simulation:0"]
  plugin "stageplugin"

  # load the named file into the simulator
  worldfile "simple.world"	
)

driver
( 
  name "stage"
  provides ["position2d:0" "laser:0" "sonar:0"]
  model "r0" 
)

driver
(
  name "nd"
  provides ["position2d:1"]
  requires ["output:::position2d:0" "input:::position2d:0" "laser:0" "sonar:0"]

  #sonar_bad_transducers [0 1 2 3 4 5 6 7 11]
  max_speed [0.3 30.0]
  min_speed [0.1 10.0]
  goal_tol [0.3 15.0]
  wait_on_stall 1

  rotate_stuck_time 5.0
  translate_stuck_time 5.0
  translate_stuck_dist 0.15
  translate_stuck_angle 10.0

  avoid_dist 0.4
  safety_dist 0.0

  laser_buffer 1
  sonar_buffer 1
)
