# Desc: Player sample configuration file for controlling Stage devices
#       Based on simple.cfg
# Author:  Rich Mattes
# Date: 12 December 2012

# load the Stage plugin simulation driver
driver
(		
  name "stage"
  provides [ "simulation:0" ]
  plugin "stageplugin"

  # load the named file into the simulator
  worldfile "roomba.world"	
)

# Create a Stage driver that connects the roomba's sensors
# to Player interfaces
driver
( 
  name "stage"
  provides [ "position2d:0" "bumper:0" ]
  model "roomba0" 
)

