
# Desc: Player sample configuration file for controlling Stage devices
# Author:  Richard Vaughan
# Date: 1 December 2004
# CVS: $Id: simple.cfg,v 1.31.2.13 2007-10-04 01:17:04 rtv Exp $


# load the Stage plugin simulation driver
driver
(		
  name "stage"
  provides ["simulation:0" ]
  plugin "libstageplugin"

  # load the named file into the simulator
  worldfile "simple.world"	
)

# Create a Stage driver and attach position2d and laser interfaces 
# to the model "robot1"
driver
( 
  name "stage"
  provides ["position2d:0" "laser:0" "sonar:0"]
  model "redrobot" 
)

driver
( 
  name "stage"
  provides ["position2d:1" "laser:1" "sonar:1"]
  model "greenrobot" 
)

driver
( 
  name "stage"
  provides ["position2d:2" "laser:2" "sonar:2"]
  model "bluerobot" 
)

