
# Desc: Player sample configuration file for controlling Stage devices
# Author:  Richard Vaughan
# Date: 1 December 2004

# load the Stage plugin simulation driver
driver
(
  name "stage"
  provides ["simulation:0" ]
  plugin "stageplugin"

  # load the named file into the simulator
  worldfile "uoa_robotics_lab.world"
)

# Create a Stage driver and attach position2d and laser interfaces 
# to the model "robot1"
driver
( 
  name "stage"
  provides ["position2d:0" "laser:0" "sonar:0"]
  model "r0" 
)


# Demonstrates use of a Player "abstract driver": one that doesn't
# interface directly with hardware, but only with other Player devices.
# The VFH driver attempts to drive to commanded positions without 
# bumping into obstacles.
driver 
(
  name "vfh"
  provides ["position2d:1"]
  requires ["position2d:0" "laser:0" ]
)
