
# Desc: Player sample configuration file for controlling Stage devices
# Author:  Richard Vaughan
# Date: 1 December 2004
# CVS: $Id: wifi.cfg,v 1.1 2006-03-02 23:19:09 gerkey Exp $


# load the Stage plugin simulation driver
driver
(		
  name "stage"
  provides ["simulation:0" ]
  plugin "stageplugin"

  # load the named file into the simulator
  worldfile "wifi.world"	
)

# Create a Stage driver and attach position2d and wifi interfaces 
# to the model "robot1"
driver
( 
  name "stage"
  provides ["6665:position2d:0" "6665:wifi:0" ]
  model "robot1" 
  alwayson 1
)

# Create a Stage driver and attach position2d and wifi interfaces 
# to the model "robot2"
driver
( 
  name "stage"
  provides ["6666:position2d:0" "6666:wifi:0" ]
  model "robot2" 
  alwayson 1
)
